<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Programma, cura te ipsum!</h3>
                <h1><strong>CMU IPSUM Lab</strong></h1>
                <h3>AI for SE research at CMU</h3>

                <h3>The IPSUM Lab studies intelligent solutions for software engineering at Carnegie Mellon university.
                   It is lead by
<a href="https://www.isri.cmu.edu/people/core-faculty/hellendoorn-vincent.html" style="#000000">Vincent Hellendoorn</a> </h3>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
